@import "flat-ui";

body {
  background-color: #E74C3C;
  user-select: none;
  -webkit-user-select: none;
}

.card {
  width: 280px;
  min-height: 330px;
  background-color: rgba(216, 216, 216, 0.27);
  border-radius: 10px;
  padding: 10px;
  margin: 120px auto;
  text-align: center;
  color: white;
  .indicator {
    width: 95px;
    height: 95px;
    margin: -60px auto 0 auto;
  }
  .header {
    width: 100%;
    border-bottom: 1px solid white;
    h1 {
      font-weight: normal;
      font-size: 20px;
      margin: 10px 0;
      padding: 0;
      i {
        margin-top: 5px;
      }
    }
  }
  .reading {
    h2 {
      font-size: 60px;
      margin: 30px 0 15px 0;
      span {
        width: 100%;
        display: block;
        font-weight: normal;
        font-size: 20px;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: normal;
    }
  }
  .actions {
    margin-top: 20px;
  }
}

.overlay {
  position: absolute;
  background-color: #2C3E50;
  width: 260px;
  min-height: 295px;
  z-index: 2;
  padding: 0 10px;
  h2 {
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    padding-bottom: 9px;
  }
  li {
    line-height: 20px;
    width: 33%;
    float: left;
    list-style-type: none;
    img {
      display: block;
      margin: 0 auto;
    }
    .unit {
      margin-top: 3px;
    }
  }
  &:after {
    content:"";
    border-color: transparent transparent #2C3E50 transparent;
    border-style:solid;
    border-width:20px;
    width:0;
    height:0;
    position:absolute;
    top:-40px;
    left:120px;
  }
}
