<div class="overlay">
  <h2>How Much Water?</h2>
  <ol>
    <li {{action createEntry 6}}>6 oz</li>
    <li {{action createEntry 12}}>12 oz</li>
    <li {{action createEntry 32}}>32 oz</li>
  </ol>
</div>

