<div class="overlay">
  <h2>How Much Water?</h2>
  <ol>
    <li {{action createEntry 6}}>
      <img src="/assets/6oz.png">
      <p class="unit">6 oz</p>
    </li>
    <li {{action createEntry 8}}>
      <img src="/assets/8oz.png">
      <p class="unit">8 oz</p>
    </li>
    <li {{action createEntry 32}}>
      <img src="/assets/32oz.png">
      <p class="unit">32 oz</p>
    </li>
  </ol>
</div>

